@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face{
    font-family: "Norse bold";
    src: url(../font.otf);
}

body {
    margin : 0px;
    padding: 0px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    overflow: hidden;
}

.flex-container{
    display: flex;
    flex-direction: row;
    background-color: #f5f5f7;
   
}

.picture{
    position: relative;
    width: 40vw;
    height: 100vh;
}

img {
    position: absolute;
    width: 40vw;
    height: 100vh;
   
}

.logo-bar{
    z-index: 1;
    margin-top: 10vh;
    background-color: black;
    height: 20vh;
    width:40vw;
    opacity: 0.45;
}

.word{
    padding-top: 3.4vh;
    padding-left: 19vw;
    font-family: "norse bold";
    font-size: 5.93rem;
    color: white;
    opacity: 1;
}

.logo{
    height: 17vh;
    width: 8vw;
    padding-top: 1.5vh;
    padding-left: 11vw;
}

.sign-page{
    display: flex;
    background-color: #f5f5f7;
    height: 800px;
    width: 100%;
    flex-direction: column;
}

.sentence{
    height: 35vh;
    width: 100%;
    padding-bottom: 1vh;
}

.content-one{
    margin-top: 9vh;
    margin-left: 4.7vw;
    font-size: 1.38rem;
    
    
}



.first-form{
    background-color: white;
    height: 33vh;
    width: 100%;
    box-sizing: content-box;
    box-shadow:3px 5px 5px rgb(155, 155, 155);
    padding:10px;
}

.content-three{
    margin-top: 2vh;
    margin-left: 3.7vw;
    margin-bottom: 1.7vh;
    font-size: 1.5rem;
}

.form{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}

.label-style{
    color: gray;
}

.div_id{
    border: 1px solid #bdbdc1;
    border-radius: 9px;
    height: 3.9vh;
    width: 19vw;
}

.case{
    width:20vw;
    height: 2vh;
    margin: 0;
    margin-left: 5vw;
    margin-bottom: 1.4vh;
}

.submit{
    height: 37%
}

.btn{
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border: 1px solid #2a2a6b;
    border-radius: 22px;
    font-size: 22px;
    height: 60px;
    width: 205px;
    margin-top: 30px;
    margin-left: 6vw;
}

.btn:focus{
    background-color: #2a2a6b;
}

 @media screen and (max-width:600px) {
        

    }

